/* Small-sized screens */
body {
	font-family: "Play", sans-serif;
	overflow-x: hidden;
	margin: 0;
	font-size: 1.5em;
}
nav {
	background-color: black;
}
#logo {
	display: none;
	border-style: solid;
	border-color: red;
	border-radius: 5px;
	float: left;
	height: 70px;
}
#menu {
	margin: 0;
	padding: 0;
	padding-top: 0.12em;
	height: 227px;
	text-align: center;
}
#menu li {
	padding: 0.2em;
}
#menu a:link {
	text-decoration: none;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-color: #880000;
	padding: 0.08em 30%;
	border-radius: 20px;
	color: black;
	background-color: white;
}
#menu a:visited {
	text-decoration: none;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-color: #880000;
	padding: 0.08em 30%;
	border-radius: 20px;
	color: black;
	background-color: white;
}
#menu a:active {
	text-decoration: none;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-color: #880000;
	padding: 0.08em 30%;
	border-radius: 20px;
	color: white;
	background-color: #880000;
}
#banner {
	clear: both;
	height: 8.5em;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-image: url("../img/banner.jpg");
	background-size: 42em;
	background-position: -250px -60px;
	background-repeat: no-repeat;
}
#banner h1 {
	margin-top: 0;
	text-align: center;
	position: relative;
	left: 45px;
	top: 65px;
	font-size: 3em;
	text-shadow: 2px 2px 5px #880000;
}
#map {
	width: 100%;
}
h2 {
	margin: 0;
	background-image: url("../img/flag.jpg");
	background-size: 0.5em;
	height: 1.25em;
	text-align: center;
	color: red;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}
hr {
	border: 1px solid black;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
h3 {
	text-align: center;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 2em;
}
.flex-item {
	background-color: #880000;
	border-style: solid;
	border-width: 1px;
	margin: auto;
	margin-bottom: 2em;
	width: 400px;
}
.contact-large {
	clear: both;
	margin-bottom: 2em;
}
.contact-large form, .contact-large img, .contact-large table {
	margin-top: 1em;
}
.contact-small-left {
	float: left;
	width: 40%;
	margin-bottom: 2em;
}
.contact-small-right {
	float: right;
	width: 40%;
	margin-bottom: 2em;
}
.contact {
	text-align: center;
}
form ul {
	list-style-type: none;
}
.form-info {
	margin-left: 2em;
	margin-right: 2em;
}
.form-selection {
	margin-left: 3em;
}
label {
	margin-left: 2em;
	display: block;
}
#name, #phone, #email {
	margin-left: 3em;
	display: block;
	width: 80%;
	height: 1.5em;
	margin-bottom: 1em;
}
#comments {
	margin-left: 3em;
	display: block;
	width: 80%;
	height: 10em;
	margin-bottom: 1em;
}
#submit, #reset {
	margin: 1em;
	padding: 1em;
}
#submit {
	margin-left: 15em;
}
table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
table, tr, th, td {
	border-collapse: collapse;
	border: solid 1px;
	padding: 1em;
}
th, td {
	text-align: center;
	font-size: 0.35em;
}
.sch-open {
	background-color: #00CC00;
}
.sch-closed {
	background-color: #CC0000;
}
.title {
	background: linear-gradient(gray, white);
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1em;
	text-align: center;
	height: 4em;
}
.title a:link {
	color: black;
}
.title a:visited {
	color: black;
}
.title a:hover {
	color: red;
}
.title a:active {
	color: red;
}
.price {
	font-weight: bold;
}
.info {
	width: 90%;
	text-align: justify;
	margin: auto;
}
.contact-logo {
	display: none;
}
.info-img {
	display: none;
}
.info-aud {
	display: none;
}
.info-vid {
	display: none;
}
.info a:link {
	color: black;
}
.info a:visited {
	color: black;
}
.info a:hover {
	color: red;
}
.info a:active {
	color: red;
}
footer {
	text-align: center;
	font-weight: bold;
}

/* Medium-sized screens */
@media only screen and (min-width: 768px){
	body {
		font-size: 1.2em;
	}
	.flex-item {
		border-width: 2px;
	}
	#logo {
		display: inline;
	}
	#menu {
		padding-top: 0;
		height: 76px;
		text-align: right;
	}
	#menu li {
		display: inline;
		padding: 0;
		position: relative;
		top: 1em;
	}
	#menu a:link {
		border-color: black;
		padding: 10px;
		color: white;
		background-color: black;
	}
	#menu a:visited {
		border-color: black;
		padding: 10px;
		color: white;
		background-color: black;
	}
	#menu a:hover {
		text-decoration: none;
		font-weight: bold;
		border-style: solid;
		border-width: 2px;
		border-color: #880000;
		padding: 10px;
		border-radius: 20px;
		color: black;
		background-color: white;
	}
	#menu a:active {
		color: white;
		background-color: #880000;
	}
	#banner {
		height: 300px;
		background-size: 100%;
		background-position: center;
	}
	#banner h1 {
		font-size: 4em;
		left: 120px;
		top: 60px;
	}
	hr {
		border: 2px solid black;
	}
	.form-info {
		margin-left: 5em;
	}
	.form-selection {
		margin-left: 8em;
	}
	label {
		float: left;
		padding-right: 0.5em;
		text-align: right;
		width: 8em;
	}
	#name, #phone, #email {
		width: 50%;
		height: 1.2em;
	}
	#comments {
		width: 50%;
	}
	#submit {
		margin-left: 25em;
	}
	table, tr, th, td {
		border: solid 2px;
	}
	th, td {
		font-size: 0.7em;
	}
	.title {
		height: 3em;
	}
	.contact-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.info-img {
		display: inline;
		float: right;
		margin: 0 0 1em 1em;
		border-style: solid;
		border-color: black;
	}
	.info-aud {
		display: block;
		margin: auto;
		margin-bottom: 1em;
	}
	.info-vid {
		display: block;
		width: 75%;
		max-width: 1280px;
		margin: auto;
		margin-bottom: 1em;
		border-style: solid;
		border-color: black;
	}
}

/* Big-sized screens */
@media only screen and (min-width: 1280px){
	body {
		font-size: 1.6em;
	}
	#banner h1 {
		left: 200px;
		top: 35px;
	}
	.flex-item {
		width: 800px;
	}
	.form-info {
		margin-left: 12em;
	}
	.form-selection {
		margin-left: 25em;
	}
	label {
		margin-left: 8em;
	}
	#name, #phone, #email {
		width: 40%;
		height: 2em;
	}
	#comments {
		width: 40%;
	}
	#submit {
		margin-left: 40em;
	}
	th, td {
		font-size: 0.9em;
	}